body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f44336;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

button {
    padding: 20px 40px;
    font-size: 18px;
    color: white;
    background-color: #d32f2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c62828;
}

